<section id="post-id-" class="edit-post">
	<form id="post-form" action="#" method="post" class="stacked">
	  
	  <label>
      <span>Title</span>
      <div class="input">
        <input type="text" name="title">
        <small>Title of the post</small>
      </div>
    </label>

	  <label>
      <span>Body</span>
      <div class="input">
        <textarea name="markdown_contnet" cols="30" rows="10"></textarea>
        <small>Post content, use Markdown</small>
      </div>
    </label>

    <input type="submit" value="Create">

	</form>
</section>